@mixin form-base() {
  font-family: $form-font;
  background: $form-bg;
  // No font smoothing until it's an accepted standard
  // -webkit-font-smoothing: none;
  // -moz-osx-font-smoothing: none;
}

@mixin form-control() {
  @include form-base();
  border: 1px solid;
  border-top-color: $border-light;
  border-left-color: $border-light;
  border-right-color: $border-dark;
  border-bottom-color: $border-dark;
  box-shadow: 1px 1px 0 0 black;
}

@mixin form-control-down() {
  @include form-base();
  border: 1px solid;
  border-bottom-color: $border-light;
  border-right-color: $border-light;
  border-top-color: $border-dark;
  border-left-color: $border-dark;
  box-shadow: 1px 1px 0 0 black inset;
}

@mixin window() {
  @include form-control();
  box-shadow: 1px 1px 0 0 black, -1px -1px 0 0 $form-bg;
}
