//Color of standard install wallpaper
$wallpaper: rgb(102, 182, 183);

//Form colors
$form-bg: #cbd0d2;
$border-light: #fefefe;
$border-dark: #989a9f;

//Font
$form-font: Tahoma, Verdana;

//Control colors
$disabled: rgb(152, 154, 159);

//Title colors
$window-title: rgb(3, 33, 183);
$title-gradient-left: rgb(30,0,131);
$title-gradient-right: rgba(0,127,211,1);
$title-inactive-gradient-left: rgb(123,123,123);
$title-inactive-gradient-right: rgba(173,173,173,1);
